<header class="my-1 px-md-3 px-1 py-2 contenu">
  <div class="container-fluid">
      <div class="row align-items-center">
          <div class="col-6 d-flex justify-content-start">
              <div class="d-flex align-items-center logo" id="logo">
                  <span class="p-1 rounded-3 position-relative">
                      <img src="../../assets/images/LoiT.png" class="logo" alt="LOIT"
                          class="mx-1" width="41">
                  </span>
                  <span class="fs-4 fw-bold mx-md-3 mx-2 text-light">LOIT</span>
                  <span class="fs-4 fw-bold mx-md-3 mx-2 text-light"><button type="button" class="btn btn-primary" routerLink="/dashboard">Accueil</button></span>
                  <button type="button" class="btn btn-primary" routerLink="/stat">Statistiques</button>
              </div>
          </div>
          <div class="col-6 d-flex justify-content-end">
              <div class="d-flex align-items-center
                  justify-content-center rounded-pill p-1 session" id="session">
                  <span class="p-1 rounded-circle position-relative">
                      <img src="../../assets/images/LoiT.png" alt="Admin"
                          class="" width="23">
                  </span>
                  <span class="mx-3"><button class="btn btn-secondary rounded-3 text-white" routerLink="">Se déconnecter</button></span>
              </div>
          </div>
      </div>
  </div>
</header>
