<app-header></app-header>
<div class="contenu">
  <div class="table-responsive">
      <div class="table-wrapper">
          <div class="table-title">
              <div class="row">
                  <div class="col-sm-8"><h2>Listes des <b>Loi/décret</b></h2></div>
                  <div class="col-sm-4">
                      <div class="search-box">

                          <button type="button" class="btn btn-primary px-4" routerLink="/add"><i class="material-icons text-white">add</i> Ajouter</button>
                      </div>
                  </div>
              </div>
          </div>
          <!-- Message : supprimé avec succès -->
          <div *ngIf ="successmsg" class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>{{successmsg}}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          <table class="table table-striped table-hover table-bordered border border-rounded-2">
              <thead class="bg-green text-light">
                  <tr>
                      <th>ID</th>
                      <th>Titre <i class="fa fa-sort"></i></th>
                      <th>Thématique</th>
                      <th>Type <i class="fa fa-sort"></i></th>
                      <th>Section</th>
                      <th>Sous-section <i class="fa fa-sort"></i></th>
                      <th>Chapitre</th>
                      <th>Intitulé</th>
                      <th>Contenu FR</th>
                      <th>Contenu MG</th>
                      <th>Spécifique</th>
                      <th>Signature</th>
                      <th>Actions</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor = 'let us of readData'>
                      <td>{{ us.id }}</td>
                      <td>{{us.titre}}</td>
                      <td>{{us.thematique}}</td>
                      <td>{{us.section}}</td>
                      <td>{{us.soussection}}</td>
                      <td>{{us.chapitre}}</td>
                      <td>{{us.intitule}}</td>
                      <td>{{us.type}}</td>
                      <td>{{us.fr}}</td>
                      <td>{{us.mg}}</td>
                      <td>{{us.specifique}}</td>
                      <td>{{us.signature}}</td>
                      <td>
                          <a [routerLink]="['/add', us.id]" class="edit btn btn-success text-light me-1" title="Modifier" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                          <button (click)="deleteID(us.id)" class="delete btn btn-danger" title="Supprimer" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></button>
                      </td>
                  </tr>
              </tbody>
          </table>

      </div>
  </div>
</div>
